/* Barra di navigazione */
nav {
    background-color: #08175a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    padding: 14px 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #ffce00;
    color: #08175a;
  }
  
  nav h1 {
    color: white;
    padding: 1%;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Contenitore generale */
  #container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
  }
  
  /* Sezione pulsanti */
  #buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #buttons button, #buttons input[type="button"], #buttons input[type="file"] {
    margin-bottom: 15px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #08175a;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  #buttons button:hover, #buttons input[type="button"]:hover, #buttons input[type="file"]:hover {
    background-color: #ffce00;
    color: #08175a;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  #buttons p {
    font-size: 14px;
    color: #333;
  }
  
  /* Contenitore del grafo */
  #network {
    width: 1000px;
    height: 800px;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }