/* Barra di navigazione */
nav {
  background-color: #08175a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 14px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

nav h1 {
  color: white;
  padding: 1%;
  margin: 0;
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

#network-container {
  margin-inline: 20px;
}

#buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  height: 600px;
}

#buttons-up {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#buttons-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#run {
  display: none;
}

.btn-left {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-left:hover{
  background-color: white;
  cursor: pointer;
  transform: scale(1.02);
}

#network {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  border-radius: 50px;
  margin-right: 10%;
}

#navigationBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}

.arrow {
  cursor: pointer;
  margin-inline: 20px;
  font-size: 16px;
  border: none;
  background-color: white;
}

.arrow:hover {
  transform: scale(1.1);
}

.btn-text {
  margin-right: 20px;
}